# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
*.v2
SciChatProject/.vs/SciChatProject/v17/.suo
SciChatProject/obj/Debug/net6.0/SciChatProject.AssemblyInfo.cs
SciChatProject/obj/Debug/net6.0/SciChatProject.AssemblyInfo.cs
*.cache
*.editorconfig

SciChatProject/obj/SciChatProject.csproj.nuget.dgspec.json
SciChatProject/obj/project.assets.json