@page
@model SciChatProject.Pages.ConversationModel
@{
	string convid = Request.Query["conversationid"];
	string buff = ":";
}

<p>
	<!--Example on how data could be displayed-->

	@foreach (var message in Models.Conversation.GetConversationByID(Int32.Parse(convid)).GetMessages())
	{
				<br />@message.GetUser().UsernameTEST
				@buff
				<br />@message.Content
	}
	
</p>