@page
@model SciChatProject.Pages.ConversationModel
@{
	string convid = Request.Query["conversationid"];
	string buff = ":";
	
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<p>
	
	<!--Example on how data could be displayed-->
	<form id="form1" method="post">
	<input type="submit" value="click" />
	<input type="text" name="text1" placeholder="Write your text here" /><br/>
	@foreach (var message in Models.Conversation.GetConversationByID(Int32.Parse(convid)).GetMessages())
	{
		<br /> @message.GetUser().UsernameTEST
		@buff
		<br /> @message.Content
	}
	
	</form>
	
</p>




