@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    int i = 1;
    string n = Models.Conversation.GetConversationByID(i).ConversationName;
}

<p>
    @foreach (var conv in Models.User.GetUserByID(i).GetConversations())
    {
        <br />
        <a href="/conversation?conversationid=@conv.id" name="chatbutton" target="_blank" class="btn btn-dark">@conv.ConversationName</a>
        <br />
    }
</p>


