@page
@model SciChatProject.Pages.ConversationModel
@{
    ViewData["Title"] = "Home page";
    int i = 1;
    string n = Models.Conversation.GetConversationByID(i).ConversationName;
}

<p>
    @foreach (var conv in Models.User.GetUserByID(i).GetConversations())
    {
        <br />
        <a href="https://localhost:7030/conversation?conversationid=@conv.id" , target="_blank" class="btn btn-dark">@conv.ConversationName</a>
        <br />
    }
</p>


