@page
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    int login = HttpContext.Session.GetInt32("idlogin").Value;
}

<p>
    @foreach (var conv in Models.User.GetUserByID(login).GetConversations())
    {
        <br />
        <a href="https://localhost:7030/conversation?conversationid=@conv.id" name="chatbutton" target="_blank" class="btn btn-dark">@conv.ConversationName</a>
        <br />
        
    }
    @HttpContext.Session.GetString("test1")
    <br />
    @HttpContext.Session.GetString("test2")
    <br />
    @HttpContext.Session.GetInt32("idlogin")
    <br />
    <form id="disconnectandadd" method="post">
    <input value="disconnect" type="submit" name="disconnectbutton" />
    <input type="text" placeholder="Username" name="adduname" />
    <input type="text" placeholder="Conversationname" name="addcname" />
    <input value="add" type="submit" name="addbutton" />
    </form>
</p>



