@page
@model SciChatProject.Pages.loginModel
@{}
<p>
    <div style="font-family:Holtwood One SC, serif">Log in here:</div>
    <form id="loginform" method="post">
        Check The Box for Sign-Up instead of Login:
        <input type="checkbox" name="type">
        <br />
        <input type="text" placeholder="Username" name="name" />
        <input type="password" placeholder="Password" name="password" />
        <input type="submit" value="Log in" name="submit" style="background-color: white"/>
    </form> 
    @HttpContext.Session.GetString("error")
</p>
